<div class="jumbotron">
    <h5 class="display-4">Bem-vindo ao Blog da Camuenho Edition</h5>
    <p class="lead">Aillsejirfuwfhpeçw9fskfd</p>
    <hr class="my-4">
    <p>iisdj,adsad</p>
       {{#if user}}
          
        {{else}}
        <p class="lead">
            <a class="btn btn-primary btb-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
        </p>
        {{/if}}
    
</div>

 <h2>Postagens recentes</h2>

{{#each postagens}}
    <div class="card">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>categoria: {{categoria.nome}}</small><br>
            <small>Publicado em {{data}}</small>
        </div>
    </div>
{{else}}
    <p>Nenhuma Postagem</p>
{{/each}}

