<div class="container">
    <h5>categorias: {{categoria.nome}}</h5>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            {{#each postagens}}
            <div class="col s4 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src={{url}}>
                        <span class="card-title">{{titulo}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{descricao}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/postagem/{{slug}}">Ler</a>
                    </div>
                </div>
            </div>
            {{else}}
            <p>Nenhum Livro</p>
            {{/each}}
        </div>

    </div>
</div>