<main>
  <h2 class="page-heading">{{categoria.nome}}</h2>

  <section>

    {{#each postagens}}
      <div class="card">
        <div class="card-image">
          <a href="/postagem/{{slug}}">
            <img src="{{url}}" alt="Card Image" />
          </a>
        </div>

        <div class="card-description">
          <a href="/postagem/{{slug}}">
            <h3>{{titulo}}</h3>
          </a>
          <div class="card-meta">
            Posted by Admin on 23/01/2018 in
            <a href="#">Web Dev</a>
          </div>
          <p>
            {{descricao}}
          </p>
          <a href="/postagem/{{slug}}" class="btn-readmore">Ler Mais</a>
        </div>
      </div>
    {{else}}
      <p>Não encontrei nada!</p>
    {{/each}}
  </section>

</main>